@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montherrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    transition: 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    position: relative;
    margin: 50px 0;
    background: url(./img/header_logo.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
}

header .presentation::after {
    content: "The best products for your home";
    position: absolute;
    top: 45px;
    left: 25px;
    width: 200px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

header .shop_cart_btn {
    float: right;
    cursor: pointer;
    transition: color 500ms ease;
}

header .shop_cart_btn:hover,
header .shop_cart_btn.active {
    color: #ca5252;
}

header .shop_cart {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 450px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
}

header .show__summ {
    margin: 5px 0 10px 10px;
    font-weight: 600;
}

header .order {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

header .order img {
    width: 70px;
}

header .order .order__title {
    flex: 1 1 auto;
    text-align: center;
    line-height: 50px;
}

header .order .order__price {
    text-align: center;
    line-height: 50px;
    padding: 0 10px 0 5px;
}

header .order .order_delete {
    position: relative;
    top: 10px;
    cursor: pointer;
    margin: 5px;
    color: #ca5252;
}

.categories div {
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 15px 25px 0;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.categories div:hover {
    border-color: silver;
    transform: scale(1.3);
}

main {
    display: flex;
    width: 100%;    
    flex-wrap: wrap;
    justify-content: center;
}

main .item {
    position: relative;
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    padding-bottom: 20px;
}

main .item img {
    max-width: 100%;
    transition: transform 500ms ease;
}

main .item img:hover {
    transform: scale(1.05);
}

main h2,
main p,
main b {
    margin: 10px 20px;
    color: #333;
}

main b {
    color: #5fa36a;
}

main .add_to_card {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

footer {
    text-align: center;
    margin-top: 100px;
}